# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Node / Mac
node_modules/
.DS_Store

# Data & Models (ignore contents but track folder structure via .gitkeep)
ml/data/raw/*
!ml/data/raw/.gitkeep
ml/data/processed/*
!ml/data/processed/.gitkeep
ml/models/*
!ml/models/.gitkeep

# Ignore project specification documents
InvestorRadar_SRS.pdf
